header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    width: 1980px;
}

body {
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.texto {
    margin: 15px;
}

h1 {
    color: white;
}

.card-grid {
    margin-top: 40px;
    display: grid; /* posiciona os cards lado a lado */
    grid-template-columns: repeat(4, 1fr); /* cria 4 colunas de largura igual */
    gap: 20px; /* espaço (vão) entre as colunas do grid */
    width: 1300px; /* largura total do grid */
}

.card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
}

.card-content {
    padding: 15px;
    text-align: center;
}

.card-content h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card-content p {
    font-size: 1em;
    color: #666;
}

.card-content .btn {
    display: inline-block;
    font-size: 1em;
    color: #fff;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s; /* velocidade de transição da cor do botão */
}

.card-content .btn:hover {
    background-color: #333; /* alterado para um tom de preto mais claro */
    transform: translateY(-2px); /* movimenta o botão em -2px no eixo y */
}

.card:hover {
    transform: translateY(-5px); /* movimenta o cartão em -5px no eixo y */
}